//
// Neon Theme Mode
//

$theme-neon-colors: (
    'primary': #ff7043,
    'secondary': #7a49a8,
    'success': #7ec192,
    'info': #74a8d3,
    'warning': #f8d371,
    'danger': #ee676d
);

@if $theme-neon ==true {

    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

    html[data-skin='neon'] {
        --#{$prefix}font-sans-serif: "Outfit", sans-serif;
        --#{$prefix}font-family-secondary: "Outfit", sans-serif;

        --#{$prefix}body-font-size: 14px;
        --#{$prefix}body-bg: #f7f5f2;
        --#{$prefix}secondary-bg: #ffffff;

        --#{$prefix}theme-card-border-width: 0;
        --#{$prefix}theme-card-border-color: #edf2f9;
        --#{$prefix}theme-card-box-shadow: 0 1px 2px rgba(57, 62, 80, 0.05);
        --#{$prefix}box-shadow: 0 1px 2px rgba(57, 62, 80, 0.1);
        --#{$prefix}border-radius: 12px;

        --#{$prefix}font-weight-medium: 500;
        --#{$prefix}font-weight-semibold: 500;
        --#{$prefix}font-weight-bold: 600;

        --#{$prefix}font-size-xxs: 12px;
        --#{$prefix}font-size-xs: 13px;
        --#{$prefix}font-size-base: 14px;
        --#{$prefix}font-size-md: 15px;
        --#{$prefix}font-size-lg: 16px;
        --#{$prefix}font-size-xl: 18px;
        --#{$prefix}font-size-xxl: 20px;

        // Menu items
        --#{$prefix}sidenav-item-icon-size: 1rem;
        --#{$prefix}sidenav-item-gap: 12px;
        --#{$prefix}sidenav-item-padding-x: 12px;
        --#{$prefix}sidenav-item-padding-y: 8px;
        --#{$prefix}sidenav-item-font-size: 0.875rem;
        --#{$prefix}sidenav-item-font-weight: 400;

        // Sub Menu Items
        --#{$prefix}sidenav-sub-item-font-size: 0.875rem;
        --#{$prefix}sidenav-sub-item-font-weight: 400;
        --#{$prefix}sidenav-sub-item-gap: 4px;
        --#{$prefix}sidenav-sub-item-padding-x: 10px;
        --#{$prefix}sidenav-sub-item-padding-y: 7px;

        // Light left-sidebar
        &[data-menu-color='light'] {
            --#{$prefix}sidenav-bg: #{$white};
            --#{$prefix}sidenav-border-color: #edf2f9;
            --#{$prefix}sidenav-item-color: #{$gray-700};
            --#{$prefix}sidenav-item-hover-color: #312a2f;
            --#{$prefix}sidenav-item-hover-bg: #f6f6f6;
            --#{$prefix}sidenav-item-active-color: #312a2f;
            --#{$prefix}sidenav-item-active-bg: #f6f6f6;
        }

        // Gray left-sidebar
        &[data-menu-color='gray'] {
            --#{$prefix}sidenav-bg: #ededed;
            --#{$prefix}sidenav-border-color: #e7e9eb;
            --#{$prefix}sidenav-item-color: #{$gray-700};
            --#{$prefix}sidenav-item-hover-color: #ff7043;
            --#{$prefix}sidenav-item-hover-bg: #e7e3e3;
            --#{$prefix}sidenav-item-active-color: #212b29;
            --#{$prefix}sidenav-item-active-bg: #e7e3e3;
        }

        // Dark Left Sidebar
        &[data-menu-color='dark'] {
            --#{$prefix}sidenav-bg: #371949;
            --#{$prefix}sidenav-border-color: #371949;
            --#{$prefix}sidenav-item-color: #a789b9;
            --#{$prefix}sidenav-item-hover-color: #ebdaf5;
            --#{$prefix}sidenav-item-hover-bg: #30394d;
            --#{$prefix}sidenav-item-active-color: #ebdaf5;
            --#{$prefix}sidenav-item-active-bg: #471f5e;
        }

        // Gradient Menu
        &[data-menu-color='gradient'] {
            --#{$prefix}sidenav-bg: #{linear-gradient(to right, #654385, #4f306c)};
            --#{$prefix}sidenav-border-color: null;
            --#{$prefix}sidenav-item-color: #af91cb;
            --#{$prefix}sidenav-item-hover-color: #debffb;
            --#{$prefix}sidenav-item-hover-bg: rgba(219, 236, 255, 0.05);
            --#{$prefix}sidenav-item-active-color: #debffb;
            --#{$prefix}sidenav-item-active-bg: rgba(219, 236, 255, 0.05);
        }

        // Image Menu
        &[data-menu-color='image'] {
            --#{$prefix}sidenav-bg: #{linear-gradient(to bottom right, rgba(101, 67, 133, 0.9), #4f306c), url('/public/images/sidenav-bg.jpg') center/cover no-repeat};
            --#{$prefix}sidenav-border-color: null;
            --#{$prefix}sidenav-item-color: #bb9adb;
            --#{$prefix}sidenav-item-hover-color: #f0dfff;
            --#{$prefix}sidenav-item-hover-bg: rgba(219, 236, 255, 0.05);
            --#{$prefix}sidenav-item-active-color: #f0dfff;
            --#{$prefix}sidenav-item-active-bg: rgba(219, 236, 255, 0.05);
        }

        // Dark Mode
        &[data-bs-theme='dark'][data-menu-color='dark'],
        &[data-bs-theme='dark'][data-menu-color='gray'],
        &[data-bs-theme='dark'][data-menu-color='light'] {
            --#{$prefix}sidenav-bg: #1e1f27;
            --#{$prefix}sidenav-border-color: #2c2d38;
            --#{$prefix}sidenav-item-color: #8495ab;
            --#{$prefix}sidenav-item-hover-color: #bccee4;
            --#{$prefix}sidenav-item-hover-bg: #2f3742;
            --#{$prefix}sidenav-item-active-color: #ced6df;
            --#{$prefix}sidenav-item-active-bg: #22232c;
        }

        // Light Topbar
        &[data-topbar-color='light'] {
            --#{$prefix}topbar-bg: #ffffff;
            --#{$prefix}topbar-item-color: #{$gray-700};
            --#{$prefix}topbar-item-hover-color: #ff7043;
            --#{$prefix}topbar-search-bg: transparent;
            --#{$prefix}topbar-search-border: #e7e9eb;
        }

        // Gray Topbar
        &[data-topbar-color='gray'] {
            --#{$prefix}topbar-bg: #f7f5f2;
            --#{$prefix}topbar-item-color: #{$gray-700};
            --#{$prefix}topbar-item-hover-color: #ff7043;
            --#{$prefix}topbar-search-bg: #edebe9;
            --#{$prefix}topbar-search-border: #edebe9;
        }

        // Dark Topbar
        &[data-topbar-color='dark'] {
            --#{$prefix}topbar-bg: #371949;
            --#{$prefix}topbar-item-color: #a789b9;
            --#{$prefix}topbar-item-hover-color: #ebdaf5;
            --#{$prefix}topbar-search-bg: #47265a;
            --#{$prefix}topbar-search-border: #47265a;
        }

        // Gradient Topbar
        &[data-topbar-color='gradient'] {
            --#{$prefix}topbar-bg:                        #{linear-gradient(to bottom, #654385, #4f306c)};
            --#{$prefix}topbar-item-color:              rgba(255, 255, 255, 0.7);
            --#{$prefix}topbar-item-hover-color:        #ffffff;
            --#{$prefix}topbar-search-bg:               rgba(255, 255, 255, 0.1);
            --#{$prefix}topbar-search-border:           rgba(255, 255, 255, 0.1);
        }

        // Topbar (Dark Mode)
        &[data-bs-theme='dark'][data-topbar-color='dark'],
        &[data-bs-theme='dark'][data-topbar-color='light'],
        &[data-bs-theme='dark'][data-topbar-color='gray'] {
            --#{$prefix}topbar-bg: #252630;
            --#{$prefix}topbar-item-color: #adb5bf;
            --#{$prefix}topbar-item-hover-color: #e0eeff;
            --#{$prefix}topbar-search-bg: #2d2e3c;
            --#{$prefix}topbar-search-border: #2d2e3c;
        }

        @each $name, $value in $theme-neon-colors {
            --#{$prefix}#{$name}: #{$value};
        }

        @each $name, $value in $theme-neon-colors {
            --#{$prefix}#{$name}-rgb: #{to-rgb($value)};
        }

        @each $name, $value in $theme-neon-colors {
            --#{$prefix}#{$name}-bg-subtle: #{rgba($value, 0.15)};
        }

        @each $name, $value in $theme-neon-colors {
            --#{$prefix}#{$name}-border-subtle: #{rgba($value, 0.3)};
        }

        @each $name, $value in $theme-neon-colors {
            --#{$prefix}#{$name}-text-emphasis: #{shade-color($value, 25%)};
        }

        // Chart Colors
        --#{$prefix}chart-primary: #ff7043; // Main Color
        --#{$prefix}chart-primary-rgb: #{to-rgb(#ff7043)};
        --#{$prefix}chart-secondary: #7a49a8; // Secondary Color
        --#{$prefix}chart-secondary-rgb: #{to-rgb(#7a49a8)};
        --#{$prefix}chart-alpha: #7ec192; // Success Color
        --#{$prefix}chart-alpha-rgb: #{to-rgb(#7ec192)};
        --#{$prefix}chart-beta: #ee676d; // Danger Color
        --#{$prefix}chart-beta-rgb: #{to-rgb(#ee676d)};
        --#{$prefix}chart-gamma: #f8d371; // Warning Color
        --#{$prefix}chart-gamma-rgb: #{to-rgb(#f8d371)};
        --#{$prefix}chart-delta: #74a8d3; // Info Color
        --#{$prefix}chart-delta-rgb: #{to-rgb(#74a8d3)};
        --#{$prefix}chart-zeta: #6070cc; // Purple or custom Color
        --#{$prefix}chart-zeta-rgb: #{to-rgb(#6070cc)};
        --#{$prefix}chart-gray: #edeff3; // Gray Color
        --#{$prefix}chart-gray-rgb: #{to-rgb(#edeff3)};
        --#{$prefix}chart-dark: #396699; // Primary Dark Color
        --#{$prefix}chart-dark-rgb: #{to-rgb(#396699)};
        --#{$prefix}chart-border-color: #ecf4fc; // Border Color
        --#{$prefix}chart-title-color: #bbcae1; // Title Color
    }

    @if $enable-dark-mode {
        @include color-mode(dark, true) {
            &[data-skin='neon'] {
                --#{$prefix}body-bg: #{#17181e};
                --#{$prefix}body-bg-rgb: #{to-rgb(#17181e)};

                --#{$prefix}secondary-bg: #{#1b1c22};
                --#{$prefix}secondary-bg-rgb: #{to-rgb(#1b1c22)};

                --#{$prefix}box-shadow: #{0px 0px 30px rgba(0, 0, 0, 0.3)};

                --#{$prefix}theme-card-border-color: #293036;

                --#{$prefix}chart-gray: #40424f;
                --#{$prefix}chart-gray-rgb: #{to-rgb(#40424f)};

                --#{$prefix}chart-border-color: #242c31;
                --#{$prefix}chart-gray: #40424f;
                --#{$prefix}chart-gray-rgb: #{to-rgb(#40424f)};

                // Extra CSS
                .card,
                .dropdown-menu {
                    border-width: 1px !important;
                }
            }
        }
    }
}

//
//  Neon Theme
//
html[data-skin='neon'] {

    .card {

        .card-title {
            font-size: 16px;
            font-weight: 600;
        }
    }

    .footer {
        background-color: transparent;
        border: none;
    }

    #landing-navbar {
        background-color: #371949;
    }
}